{% extends 'base.html.twig' %}

{% block title %}New Filiere{% endblock %}

{% block body %}
    <h1>Create new Filiere</h1>

    {{ include('filiere/_form.html.twig') }}

    <a href="{{ path('app_filiere_index') }}">back to list</a>
{% endblock %}
